*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.heading .h3 {
    font-family: "poppins";
    margin: 30px 0;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
  
}


.item .item-1 {
    width: 25%;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 ;
    background-color: #fff;
    margin:  0 10px;
}
.img1{
   width: 100%;
   display: block;
}
 .item .item-1 .item-content .top-info h3{
    font-family: "poppins";
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
 }

 .item .item-1 .item-content .top-info h3 img{
    width: 15px;
 }
 .item .item-1 .item-content .top-info p{
    margin-bottom: 10px;
    font-family: "poppins";
    font-weight: 400;
    font-size: 14px;
 }
 .item .item-1 .item-content .bottom-info
 {
    margin-top: 30px;
 }

 .item .item-1 .item-content .bottom-info span
 {
    font-family: "poppins";
    font-weight: 700;
    font-size: 23px;     
 }

 .item .item-1 .item-content .bottom-info button{
    padding: 0 25px;
    background-color: transparent;
 
    color: indianred;
    border-radius: 30px;
    font-size: 16px;
    font-family: "poppins";
    font-weight: 700;
 }
 .payment span{
    font-weight: 20px;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 5px;
    display: flex;
    flex-direction: column;
    text-align: center  ;
 }