@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../Image/Bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    min-height: 100vh;
}

.container {
    min-height: 500px;
    width: 500px;
    min-width: 250px;
    background: #f1f5f8;
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 10px 5px #00000040;
    padding: 1rem;
    box-sizing: border-box;
    color: #494a4b;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.heading-logo {
    width: 20%;
}

.heading-title {
    transform: rotate(2deg);
    padding: 4px 20px;
    margin-left: 20px;
    background-color: rgba(0, 255, 195, .7);
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
}

.list-lable {
    font-size: 20px;
    margin-bottom: 16px;
    display: block;
    font-weight: bold;
}

.list-input {
    background-color: transparent;
    padding: 12px;
    border: 3px solid transparent;
    border-bottom: 3px dashed #ea95e0;
    outline: none;
    font-family: 'Gochi Hand', cursive;
    font-size: 18px;
    width: 60%;
    color: #494a4b95;
    margin-bottom: 20px;
}

.list-input:focus {
    border: 3px solid #ea95e0;
}

.btn {
    font-family: inherit;
    color: inherit;
    border: none;
    background-image: url(../Image/dot.gif);
    background-color: rgba(0, 255, 196, 0.7);
    box-shadow: 0 2px 0 #494a4b;
    transform: rotate(4deg);
    transform-origin: center;
    padding-bottom: 3px;
    border-radius: 5px;
    transition: ease-in 0.3s;
    cursor: pointer;
    margin-left: 8px;
}

.btn p {
    padding: 8px 16px;
    background: #f1f5f8;
    border-radius: 5px;
    border: 2px solid #494a4b;
}
.btn:focus {
    transform: translateY(4px);
    padding-bottom: 0px;
    outline: 0;
}

.to-do-list-body{
    margin-top: 16px;
    padding: 8px 16px;
}

li{
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

span{
    display: flex;
}

.checkbtn{
    margin-right: 8px;
}

.remove-btn{
    margin-left: auto;
}
