*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Quartz-Light";
    src: url("https://db.onlinewebfonts.com/t/b53d7c1e36b8a98bbc6a93733e3712da.eot");
    src: url("https://db.onlinewebfonts.com/t/b53d7c1e36b8a98bbc6a93733e3712da.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b53d7c1e36b8a98bbc6a93733e3712da.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b53d7c1e36b8a98bbc6a93733e3712da.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b53d7c1e36b8a98bbc6a93733e3712da.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b53d7c1e36b8a98bbc6a93733e3712da.svg#Quartz-Light")format("svg");
}


.box{
	width: 400px;
	height: 420px;
	background-color: #5a5452 ;
	margin: auto;
    border-radius: 12px;
    border: 1px solid black;
}

input[type="text"]{
    width: 360px;
    padding: 30px 40px;
    background-color: #b4c1af ;
    color: black;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    font-family: "Quartz-Light";
    border: 1px solid #fff;
    text-align: right;
}
.line1,.line2,.line3,.line4{
    margin: 0 33px;
}
.line1 input[type="button"]{
    width: 60px;
    height: 50px;
    background-color:#dcdedb;
    color: white;
    margin:0 10px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.line2 input[type="button"]{
    width: 60px;
    height: 50px;
    background-color:#dcdedb;
    color: white;
    margin:0 10px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
.line3 input[type="button"]{
    width: 60px;
    height: 50px;
    background-color:#dcdedb;
    color: white;
    margin:0 10px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.line4 input[type="button"]{
    width: 60px;
    height: 50px;
    background-color:#dcdedb;
    color: white;
    margin:0 10px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
.line4 input[type="button"].red{
    background-color: orange;
}
.line4 input[type="button"].sky{
    background-color: #84dad8;
}
.line1 input[type="button"].sky{
    background-color: #84dad8;
}
.line2 input[type="button"].sky{
    background-color: #84dad8;
}
.line3 input[type="button"].sky{
    background-color: #84dad8;
}